<div style="padding:20px;background-color: rgb(255, 255, 255);margin-left:20px;box-shadow: 3px 3px rgb(219, 219, 219);height: 150px;">
    <div style="margin: 2px;padding:5px;text-align:center;background-color: rgb(100, 156, 139);color:white;">未結紮通報快訊</div>
    <div id="first_one" style="padding-top:10px;color: rgb(80, 80, 80);font-weight: 500;display: flex;">
        <div id="first_one_animal">尚無資訊</div> <div id="first_one_time" style="color:rgb(170, 170, 170);padding-left: 10px;padding-top: 5px; font-size: 12px;">...</div>
    </div>
    <div id="second_one" style="padding-top:10px;color: rgb(80, 80, 80);font-weight: 500;display: flex;">
        <div id="second_one_animal" ></div> <div id="second_one_time" style="color:rgb(170, 170, 170);padding-left: 10px;padding-top: 5px; font-size: 12px;"></div>
    </div>
    
</div>  

