<div style="width: 100%;">
<img src="https://raw.githubusercontent.com/royal0721/dog_n_cat/main/dog_n_cat.png" style="width:70vw;    display: block;
margin-left: auto;
margin-right: auto;
margin-top: 15vh;
opacity:0.3">
<div id="form_sheet" style="border-radius:10px;box-shadow:3px 3px rgb(189, 189, 189);position:absolute;top:30%;left:37%;width: 25vw;height:40vh;background-color: #fff;display: block;border: rgb(233, 233, 233) 0.01px solid;">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <div class="form-group">
        <label for="username" style="font-size: 25px;color:rgb(122, 122, 122);width:160px;margin:20px auto;display: block;">TNR通報系統</label>
        <hr style="background-color: grey;width: 150px;">
        <div style="margin-left: 80px;margin-top: 30px;">
            <label style="font-size: 20px;color:grey;">帳號</label>
        </div>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          style="width:65%;margin:0px auto;"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && username.invalid"
        >
          請輸入使用者帳號
        </div>
      </div>
      <div class="form-group">
        <div style="margin-left: 80px;margin-top: 10px;">
            <label style="font-size: 20px;color:grey;">密碼</label>
        </div>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          style="width:65%;margin:0px auto;"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">請輸入密碼</div>
          <div *ngIf="password.errors.minlength">
            密碼至少需要輸入6碼
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" style="width:65%;margin:30px auto;">
          登入
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          登入失敗: {{ errorMessage }}
        </div>
      </div>
    </form>
</div>
</div>