<div class="inform_sheet">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="form_sheet" action="">
  <div id="addr_text">
      <label>
      選擇地圖通報   
      </label>
      </div>
      <div id="location">
      <div id="location_top">
      <input type="text" formControlName="location"  id="location_selector" placeholder="縣市" disabled="true">
      <input type="text" formControlName="location2"  id="location2_selector" placeholder="鄉鎮市區" disabled="true">
      </div>
      <input type="text" formControlName="location3" id="location_added_addr" placeholder="路段"  disabled="true" >
      <input type="text" formControlName="location4" id="location_added_long" placeholder="經緯度" (change)="lat_test($event.target.value)" disabled="true" >
    </div>
      <div id="type_text">
      <label>
        動物種類
      </label>  
    </div>
      <div id="animal_type">
        <label>
          <input type="radio" name="animal_type" value="貓" [formControl]="userForm.controls['animal_type']">
          貓
        </label>
        <label>
          <!-- radio 和 checkbox 用法也一樣 -->
          <input type="radio" name="animal_type" value="狗" [formControl]="userForm.controls['animal_type']">
          狗
        </label>
      </div>
      <div id="sex_text">
        <label>
          動物性別
        </label>  
      </div>
      <div id="sex">
          <label>
            <input type="radio" name="sex" value="公" [formControl]="userForm.controls['sex']">
            公
          </label>
          <label>
            <!-- radio 和 checkbox 用法也一樣 -->
            <input type="radio" name="sex" value="母" [formControl]="userForm.controls['sex']">
            母
          </label>
          <label>
            <!-- radio 和 checkbox 用法也一樣 -->
            <input type="radio" name="sex" value="未知" [formControl]="userForm.controls['sex']">
            未知
          </label>
       </div>
      <div id="animal_name_text">
      <label>
        取名 （若無則填無）   
      </label></div>   
      <div id="animal_name">
        <input type="text" formControlName="animal_name" >
      </div> 
      <div id="user_name_text">
      <label>
      通報者姓名    
      </label>
    </div>   
    <div id="user_name">
    <input type="text" formControlName="user_name">
    </div>
    <img src={{url}} style="width: 260px;height: auto; margin-top: 40px;border:0.01px #f0f0f0 solid;margin-left: 10px;">
    <input
      style="display: none;"
      type="file" (change)="onFileChanged($event)"
      #fileInput
      >
      <button type="button" (click)="fileInput.click()" style="margin:30px 10px;font-size:18px;padding:5px;color:white;background-color: rgb(105, 105, 105);" >選擇圖片</button>    
    <button id="confirm_button" type="submit" ng-click="refresh($event)">確認通報</button>
</form>
</div>

