<div class="inform_sheet">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="form_sheet" action="" enctype="multipart/form-data">
  <div id="addr_text">
      <label>
      選擇地圖通報   
      </label>
      </div>
      <div id="location">
      <div id="location_top">
          <input type="text" formControlName="address"  id="address_selector" placeholder="縣市" disabled="true">
          <input type="text" formControlName="address2"  id="address2_selector" placeholder="鄉鎮市區" disabled="true">
      </div>
          <input type="text" formControlName="address3" id="location_added_addr" placeholder="路段"  disabled="true" >
          <input type="text" formControlName="latlong" id="location_added_long" placeholder="經緯度" (change)="lat_test($event.target.value)" disabled="true" style="width:350px;" >
      </div>
      <div id="type_text">
      <label>
        動物種類
      </label>  
    </div>
      <div id="type">
        <label>
          <input type="radio" name="type" value="貓" [formControl]="userForm.controls['type']">
          貓
        </label>
        <label>
          <!-- radio 和 checkbox 用法也一樣 -->
          <input type="radio" name="type" value="狗" [formControl]="userForm.controls['type']">
          狗
        </label>
      </div>
      <div id="gender_text">
        <label>
          動物性別
        </label>  
      </div>
      <div id="gender">
          <label>
            <input type="radio" name="gender" value="1" [formControl]="userForm.controls['gender']">
            公
          </label>
          <label>
            <!-- radio 和 checkbox 用法也一樣 -->
            <input type="radio" name="gender" value="0" [formControl]="userForm.controls['gender']">
            母
          </label>
          <label>
            <!-- radio 和 checkbox 用法也一樣 -->
            <input type="radio" name="gender" value="2" [formControl]="userForm.controls['gender']">
            未知
          </label>
       </div>
      <div id="name_text">
      <label>
        取名 （若無則填無）   
      </label></div>   
      <div id="name">
        <input type="text" formControlName="name" >
      </div> 
      <div id="informer_id_text">
      <label>
      通報者ID    
      </label>
    </div>   
    <div id="informer_id">
    <input type="text" formControlName="informer_id" id="informer_id" disabled="true">
    </div>
    <img src={{url}} style="width: 230px;height: auto; margin-top: 20px;border:0.01px #f0f0f0 solid;margin-left: 10px;">
    <input
      style="display: none;"
      type="file" (change)="onFileChanged($event)"
      #fileInput
      >
      <button type="button" (click)="fileInput.click()" style="margin:30px 10px 10px;font-size:18px;padding:5px;color:white;background-color: rgb(105, 105, 105);" >選擇圖片</button>    
    <button id="confirm_button" type="submit" ng-click="refresh($event)">確認通報</button>
</form>
</div>

