<div id="container">
<div class="nav" style="height:12vh;background-color:#f0f0f0;">
<button backButton class="btn btn-outline-secondary" id="back-btn" style="position: absolute;margin-top: 25px;margin-bottom: 10px;margin-left: 30px;" (click)="goBack()" >回上頁</button>
</div>
<div id="register-container">
    <div style="width: 45vw;margin: 50px auto;box-shadow: 0 0 15px #cecece;" id="register-card">
        <div id="card-header" style="display: flex;padding: 15px;align-items: center;background-color: rgb(115, 125, 129);">
            <img style="width:80px;height: auto;" src="https://raw.githubusercontent.com/royal0721/cat/main/register_icon.png">
            <div>
                <h6 style="font-weight:400;color:rgb(223, 219, 219);">TNR通報系統</h6>
                <h5 style="font-weight:600;color:rgb(255, 255, 255);">註冊新帳號</h5>
            </div>
        </div>
        <div id="card-container">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>姓*</label>
                        <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                        <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                            <div *ngIf="f.last_name.errors.required">姓 為必填欄位</div>
                        </div>
                    </div>                
                    <div class="form-group">
                        <label>名*</label>
                        <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                        <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                            <div *ngIf="f.first_name.errors.required">名 為必填欄位</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email*</label>
                        <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Invalid email address" formControlName="email" class="form-control" placeholder="test@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" title="Please Provide A Valid Email Address !" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email 為必填欄位</div>
                            <div *ngIf="f.email.errors.pattern">Email 必須為有效值</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>任職動保機構全名</label>
                        <input type="text" formControlName="organization" class="form-control" [ngClass]="{ 'is-invalid': submitted && isNotComplete }"/>
                        <p>若無則無需填寫，若有則需要填寫 (輸入空格者將被視為一般通報者)</p>
                        <p *ngIf="isNotComplete" style="color:rgb(236, 56, 56)">
                            若有於動保團體任職，請填寫以上兩欄以方便機構查核
                        </p>
                    </div>
                    <div class="form-group">
                        <label>手機號碼*</label>
                        <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" minlength=10 maxlength=10 formControlName="phone_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
                        <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
                            <div *ngIf="f.phone_number.errors.required">手機號碼 為必填欄位</div>
                            <div *ngIf="f.phone_number.errors.minlength">請輸入有效手機號碼</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>使用者ID*</label>
                        <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                        <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                            <div *ngIf="f.id.errors.required">使用者ID 為必填欄位</div>
                        </div>
                    <p *ngIf="isSignUpFailed" style="color:rgb(236, 56, 56)">
                        請重新填入帳號
                    </p>
                    </div>
                    <div class="form-group">
                        <label>密碼*</label>
                        <input type="password" formControlName="password" minlength=6 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">密碼 為必填欄位</div>
                            <div *ngIf="f.password.errors.minlength">密碼 至少需要輸入六個位元</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>確認密碼*</label>
                        <input type="password" formControlName="confirmed_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmed_password.errors }" />
                        <div *ngIf="submitted && f.confirmed_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmed_password.errors.required">確認密碼 為必填欄位</div>
                            <div *ngIf="f.confirmed_password.errors.mustMatch">確認密碼必須與密碼相同</div>
                        </div>
                    </div>
                    <div *ngIf="isSignUpFailed" style="color:rgb(236, 56, 56)">
                        此帳號已經有人使用，請重新填入帳號
                    </div>
                    <div *ngIf="isNotComplete" style="color:rgb(236, 56, 56)">
                        請將動保團體相關資料填寫完整
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-secondary btn-lg" style="width: 100%;margin-top: 20px;margin-bottom: 30px;">註冊<span *ngIf="loading" class="spinner-border spinner-border-sm" style="margin-left: 20px;width: 3rem; height: 3rem;"></span> </button>
                    </div>
                </form>
                
        </div>
    </div>
</div>
</div>
