<form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="padding: 10px;display: block;margin: 0px auto 50px;">
  <div style="display: flex;">
      <div style="padding-top:40px;padding-left: 105px;">
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">姓</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">名</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">信箱</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 35px;">代表機構</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 35px;">代表機構負責人</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">手機</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">帳號</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">密碼</label></div>
          <div><label style="font-size: 20px;color:grey;padding-right: 30px;padding-bottom: 28px;">再輸入密碼</label></div>
      </div>
      <div style="padding-top:40px;padding-left: 50px;">                        
          <div>
              <input type="text" formControlName="lastName" placeholder="姓" class="form-control"  style="margin-right: 30px;margin-bottom: 25px;" />
              <div *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)" class="invalid-feedback">
                  <div *ngIf="userForm.controls['lastName'].errors.required">姓 為必填欄位</div>
              </div>
          </div>
          <div>
              <input type="text" formControlName="firstName" placeholder="名" class="form-control"  style="margin-right: 30px;margin-bottom: 25px;"/>
              <div *ngIf="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)" class="invalid-feedback">
                  <div *ngIf="userForm.controls['firstName'].errors.required">名 為必填欄位</div>
              </div>
          </div>

          <div>
              <input type="email" formControlName="email" placeholder="信箱" class="form-control" style="margin-right: 30px;margin-bottom: 25px;"/>
              <div class="invalid-feedback">
                  <div>Email 為必填欄位</div>
              </div>                        
          </div>
          <div>
              <input type="text" formControlName="organization" placeholder="代表機構"  class="form-control" style="margin-right: 30px;margin-bottom: 5px;"/>
                  <p style="color:#cecece;font-size:10px;">若無代表機構，則無需填寫</p>                         
          </div>
          <div>
              <input type="text" formControlName="owner" placeholder="代表機構負責人" class="form-control" style="margin-right: 30px;margin-bottom: 5px;"/>
              <p style="color:#cecece;font-size:10px;margin-bottom: 15px;">若無代表機構，則無需填寫</p>
          </div>
          <div>
              <input type="number" formControlName="phone_number" placeholder="手機" class="form-control" style="margin-right: 30px;margin-bottom: 25px;"/>
              <div class="invalid-feedback">
                  <div>手機號碼 為必填欄位</div>
              </div>
          </div>
          <div>
              <input type="text" formControlName="username" class="form-control" placeholder="帳號" style="margin-right: 30px;margin-bottom: 25px;"/>
              <div class="invalid-feedback">
                  <div>帳號 為必填欄位</div>
              </div>
          </div>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="密碼" style="margin-right: 30px;margin-bottom: 5px;"/>
              <p style="color:#cecece;font-size:10px;">密碼請輸入只少六碼</p>  
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">密碼 為必填欄位</div>
              </div>
          
          <input type="password" formControlName="confirmed_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmed_password.errors }" placeholder="再輸入密碼" style="font-size: 18px;color:grey;margin-right: 30px;"/>
          <div *ngIf="submitted && f.confirmed_password.errors" class="invalid-feedback">
              <div *ngIf="f.confirmed_password.errors.required">確認密碼 為必填欄位</div>
              <div *ngIf="f.confirmed_password.errors.twoMatch">密碼不相同 請再輸入一次</div>
          </div>
          <div *ngIf="f.confirmed_password.errors" class="invalid-feedback">
              
          </div>
          </div>    
  </div>
  <div style="text-align: center;">                
      <button class="btn btn-outline-secondary btn-lg" style="width: 63%;margin-top: 10px;margin-bottom: 20px;">註冊</button>
  </div>

</form>